.contact-form {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2); /* Borde semitransparente */
  padding: 30px;
  max-width: 500px; /* Ancho máximo del formulario */
  margin: 20px auto; /* Centrar el formulario en la página */
}

.contact-form h3 {
  color: #fff;
  text-align: center; /* Centrando el encabezado */
  margin-bottom: 20px; /* Margen inferior */
}

.form-group {
  color: rgb(255, 255, 255);
  margin: 15px; /* Espaciado entre los grupos de formulario */
}

label {
  display: block; /* Eliminar el comportamiento en línea */
  margin-bottom: 5px; /* Margen inferior */
  font-weight: bold; /* Texto en negrita */
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px; /* Bordes redondeados */
  background: rgba(255, 255, 255, 0.5); /* Fondo semitransparente */
  color: #333;
  transition:
    background 0.3s,
    border 0.3s; /* Transiciones suaves */
}

input:focus,
textarea:focus {
  background: rgba(255, 255, 255, 0.7); /* Cambio de fondo al enfocar */
  outline: none; /* Sin contorno */
}

.containerbutton {
  margin-top: 5%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

.button {
  transform: rotate(-8deg) skew(8deg);
  transform-style: preserve-3d;
  position: relative;
  list-style: none;
  width: 100px;
  height: 32px;
  border: none;
  background: transparent;
  font-family: inherit;
  cursor: pointer;
  margin-bottom: 12px;
}

.button:before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: -5px;
  width: 100%;
  height: 10px;
  background: #2a2a2a;
  transform: skewX(-41deg);
}

.button:after {
  content: "";
  position: absolute;
  top: 5px;
  left: -9px;
  width: 9px;
  height: 100%;
  background: #2a2a2a;
  transform: skewY(-49deg);
}

.button span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2a2a2a;
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1.1s ease-out;
}

.button:hover span {
  z-index: 1000;
  transition: 0.3s;
  color: #fff;
}

.button:hover span:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}

.button:hover span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: 0.8;
}

.button:hover span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: 0.6;
}

.button:hover span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: 0.4;
}

.button:hover span:nth-child(1) {
  transform: translate(0px, 0px);
  opacity: 0.2;
}

.button:active span:nth-child(5) {
  transform: translate(20px, -20px);
  opacity: 1;
}

.button:active span:nth-child(4) {
  transform: translate(15px, -15px);
}

.button:active span:nth-child(3) {
  transform: translate(10px, -10px);
}

.button:active span:nth-child(2) {
  transform: translate(5px, -5px);
}

.button:active span:nth-child(1) {
  transform: translate(0px, 0px);
}

/* Estilos para el textarea */
textarea {
  resize: vertical;
}
