h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 450%;
  color: #fff;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 350%;
  color: #fff;
  margin-top: -2%;
}

/* Estilos para el botón de descarga de CV */
.download-cv {
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.539);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  background: rgba(255, 255, 255, 0.4); /* Fondo semitransparente */
  color: #fff; /* Color de texto blanco */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 25px; /* Bordes redondeados */
  text-decoration: none; /* Eliminar subrayado */
  font-weight: bold; /* Texto en negrita */
  transition: 0.3s; /* Transición suave para el fondo */
}

.download-cv:hover {
  background: rgba(255, 255, 255, 0.5); /* Cambio de fondo al pasar el mouse */
  box-shadow: 0 9px 33px 0 rgba(31, 38, 135, 0.923);
}

/* Estilos para el contenido del header */
.header-content {
  text-align: center; /* Centrar el texto */
  margin-top: 20px; /* Margen superior */
}

.header-content p {
  color: rgba(255, 255, 255, 0.8); /* Texto un poco más claro */
  margin: 10px 0; /* Margen superior e inferior */
}

/* Estilos para los botones */
.header-buttons .btn {
  background: rgba(255, 255, 255, 0.3); /* Fondo semitransparente */
  color: #fff; /* Color de texto blanco */
  border: none; /* Sin borde */
  border-radius: 25px; /* Bordes redondeados */
  padding: 10px 20px; /* Espaciado interno */
  text-decoration: none; /* Eliminar subrayado */
  margin: 15px; /* Margen entre botones */
  transition: 0.3s; /* Transición suave para el fondo */
}

.header-buttons .btn:hover {
  background: rgba(255, 255, 255, 0.5); /* Cambio de fondo al pasar el mouse */
}

@media (max-width: 400px) {
  h1 {
    font-size: 380%;
  }
  h2 {
    font-size: 320%;
  }
  .header-content {
    flex-direction: column;
  }

  .header-buttons {
    display: flex;
    flex-direction: column;
    padding: 1% 1%;
    margin: 5%;
  }
}
