.containerp {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas iguales */
  gap: 20px; /* Espacio entre los elementos */
  max-width: 1200px; /* Ajustar el ancho máximo */
  margin: 0 auto; /* Centrar el grid */
}

.proyect1,
.proyect2,
.proyect3,
.proyect4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  overflow: hidden;
}

.proyect1:hover {
  /* width: 100%; /* La imagen ocupa el 100% del ancho de la card */
  /* height: auto; /* Mantiene la proporción */
  /* max-width: 350px; /* Tamaño máximo */
  object-fit: cover; /* Asegura que la imagen no se distorsione */
  /* transition: transform 0.1s ease; /* Transición suave en hover */
}
.proyect1:hover .imagenp,
.proyect2:hover .imagenp,
.proyect3:hover .imagenp,
.proyect4:hover .imagenp {
  /* transform: scale(1.9); /* La imagen crece al 120% */
  opacity: 65%;
}
.proyect1:hover h5,
.proyect2:hover h5,
.proyect3:hover h5 {
  /* transform: scale(2); */
  /* margin-top: -20%;
  color: #000;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
}
.proyect4:hover h5 {
  /* transform: scale(2)
  /* margin-top: -20%;;  */
  font-size: 15px;
  font-family: "Raleway", sans-serif;
}

.imagenp {
  width: 100%; /* Hace que las imágenes ocupen el 100% del contenedor */
  height: auto; /* Mantiene la proporción */
  max-width: 500px; /* Aumenta el tamaño máximo de las imágenes */
  object-fit: cover;
}
@media (max-width: 1400px) {
  .containerp {
    grid-template-columns: 1fr; /* Una columna en pantallas medianas */
  }

  .imagenp {
    max-width: 350px;
  }
}

@media (max-width: 1300px) {
  .containerp {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Una columna en pantallas medianas */
  }

  .imagenp {
    max-width: 400px;
  }
}
@media (max-width: 550px) {
  .containerp {
    grid-template-columns: 1fr; /* Una columna en pantallas medianas */
  }

  .imagenp {
    max-width: 400px;
  }
}

@media (max-width: 480px) {
  .imagenp {
    max-width: 300px;
  }
}
