.containerp {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas iguales */
  gap: 20px; /* Espacio entre los elementos */
  max-width: 1200px; /* Ajustar el ancho máximo */
  margin: 0 auto; /* Centrar el grid */
}

.salon,
.Inmobiliaria,
.Tienda,
.todo,
.analista,
.react,
.js,
.web {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  overflow: hidden;
}

/* Configuración de la tarjeta */
.fullstack,
.ingles {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0); /* Fondo transparente */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  overflow: hidden;
}

.fullstack:hover .imagenp,
.ingles:hover .imagenp {
  filter: blur(5px);
  transform: scale(2);
}

.fullstack:hover h5,
.ingles:hover h5 {
  transform: scale(1.4);

  margin-top: -20%;
}

.fullstack:hover h5 {
  color: white;
}
.ingles:hover h5 {
  color: #000;
}
.salon .imagenp,
.Inmobiliaria .imagenp,
.Tienda .imagenp,
.todo .imagenp {
  height: 250px;
}

.salon:hover .imagenp,
.Inmobiliaria:hover .imagenp,
.Tienda:hover .imagenp,
.todo:hover .imagenp {
  transform: scale(1.9); /* La imagen crece al 120% */
  opacity: 65%;
}
.salon:hover h5,
.Inmobiliaria:hover h5,
.Tienda:hover h5,
.todo:hover h5 {
  transform: scale(2);
  margin-top: -20%;
  color: #000;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
}

.imagenp {
  width: 100%; /* Hace que las imágenes ocupen el 100% del contenedor */
  max-height: 250px;
  height: auto; /* Mantiene la proporción */
  max-width: 500px; /* Aumenta el tamaño máximo de las imágenes */
  object-fit: cover;
}
@media (max-width: 1400px) {
  .containerp {
    grid-template-columns: 1fr; /* Una columna en pantallas medianas */
  }

  .imagenp {
    max-width: 350px;
  }
}

@media (max-width: 1400px) {
  .containerp {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Una columna en pantallas medianas */
  }

  .imagenp {
    max-width: 400px;
  }
}
@media (max-width: 550px) {
  .containerp {
    grid-template-columns: 1fr; /* Una columna en pantallas medianas */
  }

  .imagenp {
    max-width: 400px;
  }
}

@media (max-width: 480px) {
  .imagenp {
    max-width: 300px;
  }
}
